<mat-toolbar color="primary"> 
 
  <mat-toolbar-row>
      <span> Welcome to {{ title }}!</span>
      <span class="spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

<!--div fxLayout="row" fxLayoutAlign="space-around center">

    <div fxFlex="33" class="one" >
        <mat-card class="card-start-quiz">
          
            <mat-card-actions fxLayoutAlign="space-around center">
                <button (click)="goToQuestions();"  mat-flat-button color="accent">Start</button>
            </mat-card-actions>
          </mat-card>
    </div>

  
  </div-->
  
   
    
      


<router-outlet></router-outlet>